---
title: cheg304 hw8 q3
author: author
date: today
format:
    html:
        self-contained: true
---

### step 1

$$
H_0: \quad \mu_1 = \mu_2 = \mu_3
$$

$$
H_a: \quad \text{at least one of them isn't equal}
$$

### step 2

using a computer program (python and minitab) to calculate the p-values

In [46]:
import numpy as np
import pandas as pd
from scipy.stats import f_oneway

df = pd.read_csv('data.txt', sep=' ')
df = df.drop(columns='brand')
df

     1    2    3    4    5
0  244  235  232  242  225
1  252  272  250  238  256
2  220  251  226  246  260

In [ ]:
F = f_oneway(df.iloc[0], df.iloc[1], df.iloc[2])
print(f"F-statistic: {F.statistic:.4f}")
print(f"p-value: {F.pvalue:.4f}")

F-statistic: 2.6009
p-value: 0.1152

or with minitab

<img src="method.png" alt="anova table" width="600"/>

<img src="anova.png" alt="anova table" width="600"/>

(it would be awkward if they disagreed)

### step 3

decide to fail to reject null since $p > \alpha = 0.05$

### step 4

fail to reject the null and conclude the means could plausibly all be equal.

In [48]:
# filler