---
title: cheg304 hw8 q1
author: author
date: today
format:
    html:
        self-contained: true
---

# a

In [ ]:
import numpy as np
import pandas as pd
from scipy.stats import t

df = pd.read_csv('dat.csv', sep=',')
df.style.format()

         k    T
0   93.228  100
1   92.563  150
2   99.409  200
3  101.590  250
4  111.535  300
5  115.874  350
6  119.390  400
7  126.615  450

#### step 1

$$
H_0: \quad \rho = 0
$$

$$
H_a: \quad \rho \neq 0
$$

#### step 2

calculating r

In [44]:
x = df['T']
y = df['k']
n = len(df['T'])

xbar,ybar = x.mean(), y.mean()
numerator = ((x-xbar) * (y-ybar)).sum()
denominator = np.sqrt(((x-xbar)**2).sum())  *  np.sqrt(((y-ybar)**2).sum())
r = numerator / denominator
print(f'r: {r:.4f}')

tvalue = r / np.sqrt((1-r**2)/(n-2))
print(f't: {tvalue:.2f}')

p = 1 - t.cdf(tvalue, n-1)
print(f'p: {p:.2e}')

r: 0.9847
t: 13.82
p: 1.23e-06

#### step 3

i will reject the null since the calcualted p value is less than $\alpha=0.05$

#### step 4

we reject the null and conclude the true population correlation is not 0. in english this means that there is a statistically significant correlation in our data.

# b

the y vector is

In [46]:
np.array(df[['k']])

array([[ 93.228],
       [ 92.563],
       [ 99.409],
       [101.59 ],
       [111.535],
       [115.874],
       [119.39 ],
       [126.615]])

and the X vector is

In [47]:
df['intercept'] = 1
np.array(df[['intercept', 'T']])

array([[  1, 100],
       [  1, 150],
       [  1, 200],
       [  1, 250],
       [  1, 300],
       [  1, 350],
       [  1, 400],
       [  1, 450]])

the first column will fit the intercept and the second will fit the b*T term.

In [ ]:
# filler